body, html {
    height: 100%;
    margin: 0;
  }
  
  .container {
    text-align: center;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: grid;
    grid-template: [top]100px [header]100px [nav]5fr [article]100px [bottom]/ [start]1fr [middle]3fr [end];
    grid-template-areas:
        "top top"
        "sidebar nav"
        "sidebar article"
        "footer footer";
    gap: 10px;
  }
  
  .container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 15px;
  }
  
  .header {
    background-color: #FFDE22;
    grid-area: top;
  }
  
  .sidebar {
    background-color: #FF7755;
    grid-area: sidebar;
  }
  
  .nav {
    background-color: #00DDFF;
    grid-area: nav;
  }
  
  .article {
    background-color: #bccbde;
    grid-area: article;
  }
  
  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .footer {
    background-color: #393f4d;
    grid-area: footer;
  }