* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

#drawArea {
    width: 500px;
    height: 500px;
    display: grid;

    background-color: white;
}